<div class="texdem-event-modal">
  <h2 class="texdem-event-title">Create TexDem Event</h2>

  <div class="input-group">
    <label>Event Title</label>
    {{input value=this.title class="ember-text-field"}}
  </div>

  <div class="input-group">
    <label>Start Date</label>
    {{date-input date=this.startDate}}
  </div>

  <div class="input-group">
    <label>Start Time</label>
    {{time-input value=this.startTime}}
  </div>

  <div class="input-group">
    <label>Timezone</label>
    {{combo-box
      content=this.timezones
      value=this.timezone
      none="America/Chicago"
    }}
  </div>

  <div class="modal-footer">
    <DButton
      @action={{this.insertEvent}}
      @label="Insert Event"
      class="btn-primary"
    />
    <DButton
      @action={{this.close}}
      @label="Cancel"
    />
  </div>
</div>
